.demo-useTouchEvent {
  position: relative;
  height: 200px;
  background-color: #f1f1f1;
  .ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    color: #fff;
    font-size: 16px;
    line-height: 80px;
    text-align: center;
    background-color: skyblue;
    border-radius: 50%;
    user-select: none;
  }
}