.demo-skus {
  .skus-info {
    .radio-wrap {
      display: flex;
      gap: 10px;
      font-size: 14px;
      align-items: center;
      margin-bottom: 10px;
      .radio {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        &-active {
          color: #fff;
          background-color: #3d74ff;
        }
      }
    }
  }
  .bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .list {
      padding: 5px 10px;
      border: 1px solid #ccc;
      max-height: 200px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none !important;
      }
      .item {
        font-size: 12px;
        min-width: 150px;
        padding: 5px 0;
        white-space: nowrap;
      }
    }
  }
}

.demo2-skus {
  h5 {
    margin: 10px 0;
  }
  .sku-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .sku {
      box-sizing: border-box;
      display: inline-block;
      padding: 4px 8px;
      margin-right: 5px;
      border: 1px solid #c193f1;
      font-size: 12px;
      cursor: pointer;
      user-select: none;
      &-active {
        color: #b8f3cc;
        background-color: #c193f1;
      }
      &-disabled {
        color: #c6c6c6;
        border-color: #c6c6c6;
      }
    }
  }
}