.demo-scrollcircle-wrap {
  border: 1px solid #ccc;
}

.card {
  border: 2px solid #aaa;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}